/* line 1, C:/Sites/rails_folder/bitBucketPimsFolder3/pims_travis/app/assets/stylesheets/results.css.scss */
body {
  background: #c20;
  font-size: 4em;
}

/* line 6, C:/Sites/rails_folder/bitBucketPimsFolder3/pims_travis/app/assets/stylesheets/results.css.scss */
p {
  color: green;
}
