<h1>Welcome to Doctor Page</h1>

<p>
  <strong>First Name:</strong>
  <%= @patient.first_name %>
</p>
 
<p>
  <strong>Middle name:</strong>
  <%= @patient.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>