<%= form_for [:pages, @patient, @treatment, @schedule], url: update_schedule_path do |schedule| %>
  Name: <%= schedule.text_field :schedule_msg %>
  <p>
    <%= schedule.submit %>
  </p>
<% end %>
