<h2>Dr Note:</h2>

<%= simple_form_for [:pages, @patient, @treatment, @dr_note], url: update_schedule_path do |dr_note| %>
  <%= dr_note.input :name %>
  <%= dr_note.input :message %>
  <%= dr_note.button :submit %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
  });
</script>