<h2>Edit Charge:</h2>



<%= simple_form_for([@bill, @charge], url: :update_charge) do |f| %>
  <%# f.simple_fields_for :schedules do |p| %>
    <%= f.input :charge_name %>
    <%= f.input :charge_amount %>
    <%= f.button :submit %>
  <%# end %>
<%#= simple_form_for([@patient.update_treatment, @schedule]) do |f| %>
<%#= form_with(model: [@treatment, @schedule], url: edit_schedule_path, local: true) do |f| %>

  <%#= f.error_notification %>

  <div class="form-inputs">
    <%#= f.association :user %>
    
    <%#= f.association :node %>
  </div>

  <div class="form-actions">
    <%#= f.button :submit %>
  </div>
<% end %>