<h2>New Physician Information</h2>
<%= simple_form_for @patient.build_physician, url: new_physician_path do |f| %>
  Physician Information:
  <ul>
        <%= f.input :family_physician %>
        <%= f.input :physician_phone %>
        <%= f.submit :submit %>
  </ul>
<% end %>

