	
	<div class="container" id="wrapper">
		<div class="info_boxes" id="info_box1">
			<h1>Patient Search Screen</h1>
			<div class="welcome_box">
				<p>Welcome Dr. Lawrence</p>
				<p>Access Rights: <span id="access_rights">Doctor </span></p>
			</div>
		</div>
		
		<div class="info_boxes" id="info_box2">
			<div class="patient_box">
				<form>
					<div class="form-group">
						<label for="First Name">First Name</label>
						<input type="text" name="last name" class="form-control" id="firstName" />
					</div>
					<div class="form-group">
						<label for="First Name">Last Name</label>
						<input type="text" name="last name" class="form-control" id="lastName" />
					</div>

					<!-- If we need to search by gender then uncomment this -->
					<!-- 
					<div class="form-group btn btn-sm cust_rule1">
						<select class="form-control" id="gender_select">
    						<option>Male</option>
    						<option>Female</option>
  						</select>
					</div>
					-->
				</form>
			</div>
			<div class="image_box">
				<img src="imgs/holding_xray.jpeg">
			</div>
		</div>



		<div class="info_boxes" id="info_box3">			
			<div class="form-group search_button_div">
				<button type="submit" class="btn btn-default" id="patientSearchBtn">Find Patient</button>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		$(document).ready(function(){
			todayDate();
		})

		function todayDate(){
			var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			var days = ["Sunday", "Monday", "Tuesday", "Wednsday", "Thursday", "Friday", "Saturday"];
			var theDate = new Date();
			var year = theDate.getFullYear(), month = months[theDate.getMonth()], date = theDate.getDate();
			var day = days[theDate.getDay()];
			var fullDate = "Today's date is " + day + ", " + month + " " + date + ", " + year;
			document.getElementsByClassName("nav_data_para")[0].innerHTML = fullDate;
		}

		
	</script>