.login_wrapper{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	z-index: 2;
    color: #fff;
}

.login_wrapper::after{
	content: "";
    background-color: darkolivegreen;
    background-image: url("../assets/login_background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	position: absolute;
	opacity: 0.5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.login{
	position: absolute;
	border: 4px solid #131e23;
	border-radius: 20px;
	flex: 1;
	min-width: 320px;
	width: 40vw;
	padding: 30px;
	overflow: hidden;
	background: rgba(42, 53, 58, 0.6);
	font-family: 'Inconsolata', monospace;
}

input[type=password], input[type=email]{
  color: #000;
  width: 100%;
  line-height: 1.4em;
  height: 30px;
  box-sizing:border-box;
}

.login a{
	font-weight: bold;
	color: #143363;
}