#date-nav{
    display: block;
    margin-top: 12px;
    margin-left: 15px;
    color: #fff;
    font-size: 1.0em;
  }
  
  .center-text {
    text-align: center;
  }
  
  .patient-card{
    padding: 10px;
    margin: 20px auto;
    width: 40vw;
    background-color: var(--light-green);
    border-radius: 25px;
  }
  
  .patient-card > div{
    width: 90%;
    margin: 0 auto;
  }
  
  .patient-info-div span{
    font-family: Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  p.view-more{
    display: block;
    text-align: center;
    padding: 5px;
    border: 2px solid #56a59a;
    font-size: 1.5em;
    width: 160px;
    border-radius: 25px;
    background-color: #d0d8ad;
  }
  
  .view-more a{
    color: var(--dark-green);
    text-align: center;
    text-decoration: none;
  }
  
  .go_back{
    text-align: center;
    font-size: 1.2em;
  }

  .patientResultsWrapper::after {
    content: "";
    background-color: darkolivegreen;
    background-image: url("../assets/stethoscope.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    position: fixed;
    opacity: 0.25;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
