// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
  list-style: none;
}

a{
  text-decoration: none;
  font-size: 1.3em;
  
  &:hover{
    color: gold;
  }
}

//show action div
.button_choose_show_action{
  width: 400px;
  padding: 5px;
  display: flex;
}

button_choose_show_action > p{
  flex: 1;
  margin: 5px;
  
  input{
    margin-right: 10px;
  }
}

