.boxes_admit p{
    display: flex;
    flex-direction: column;
}

.boxes_patient{
    background-image: linear-gradient(to right, var(--light-green), transparent);
    display: flex;
    justify-content: space-between;
    width: 60vw;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 400px;
    min-height: 7em;
    margin-top: 40px;
    padding: 1.5em 0 1.5em 0;
    align-content: space-around;
}

.patient_background::after {
    content: "";
    background-color: darkolivegreen;
    background-image: url("../assets/stethoscope.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	position: fixed;
	opacity: 0.1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.show-card{
    content: "";
    padding: 10px;
    margin: 20px 0px 20px 10px;
    width: 40vw;
    background-color: var(--light-green-card);
    border-radius: 25px;
}
  
.card > div{
    width: 90%;
    margin: 0 auto;
}

.name{
    flex: 1;
    margin: .2em;
    font-family: Arial, Helvetica, serif;
    font-size: 2em;
}

.bday{
    float: left;
    align-self: flex-end;
}

.birthday{
    clear: both;
}

.divLine{
    border: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, black, transparent);
}

#first_name{
    color: blue;
}